@{
    ViewData["Title"] = "CarritoVacio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carrito Vacio</h1>
<hr />
<p>¿A que esperas a llenarme de la mejor múscia? Dirigite al <a asp-area="" asp-controller="Escaparates" asp-action="Index">escaparate</a>.</p>
<img src="~/Imagenes/vacio.png" />