@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="container text-center">
            <h1 class="display-4">Bienvenido a la biblioteca de la música</h1>
            <p>Aquí encontraras tus discos favoritos a los mejores precios.</p>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><p>Si no tienes una cuenta creada puedes pulsarme o clickar en crear una cuenta en la barra de arriba</p></a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><p>Si ya tienes una cuenta creada ¿a que esperar a ver los discos?</p></a>
        </div>
        <div class="col-12 ms-3">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="imagenes/1.jpg" class="d-block w-50" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="imagenes/19.jpg" class="d-block w-50" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="imagenes/22.jpg" class="d-block w-50" alt="...">
                    </div>
                </div>
            </div>
    </div>
    
</div>

