.titulo{
    text-align:center;
}

.inicio{
    float:none;
    margin-left:40%;
}

.txtB{
    float:none;
    margin-left:1%;
}

#btnEnviar{
    float:none;
    margin-left:40%;
}

.parteB {
    float: none;
    margin-left:40%;
}

.parteM {
    float: none;
    margin-left:10%;
}