#barraAz1{
    background-color: rgb(93, 140, 201);
    
}
#barraAz2{
    background-color: rgb(93, 140, 201);
    
}

#salmon{
    background-color: salmon;
    
}

#verde{
    background-color: rgb(103, 255, 83);
    
}
#verde2{
    background-color: rgb(103, 255, 83);
    
}

#azulMarine1{
    background-color: rgb(0, 60, 255);
    
}
#azulMarine2{
    background-color: rgb(0, 60, 255);
    
}
#azulMarine3{
    background-color: rgb(0, 60, 255);
    
}
#azulMarine4{
    background-color: rgb(0, 60, 255);
    
}
#azulMarine5{
    background-color: rgb(0, 60, 255);
    
}
#azulMarine6{
    background-color: rgb(0, 60, 255);
    
}

#marron1{
    background-color: brown;
    
}
#marron2{
    background-color: brown;
    
}
#marron3{
    background-color: brown;
    
}
#marron4{
    background-color: brown;
    
}
#marron5{
    background-color: brown;
    
}
#marron6{
    background-color: brown;
    
}
#marron7{
    background-color: brown;
    
}
#marron8{
    background-color: brown;
   
}
#marron9{
    background-color: brown;
    
}
#marron10{
    background-color: brown;
    
}
#marron11{
    background-color: brown;
    
}
#marron12{
    background-color: brown;
    
}